{% extends "baseTab.html" %} {% import 'macros.html' as macros %} {% block
tabContent %}
<div id="tab-epic" class="tab-content">
  <div class="flex sticky top-0 w-full p-4">
    <!-- First Div with Checkboxes -->
    <div class="flex-1 bg-white p-4 rounded-lg flex">
      <label class="mr-4 pt-1">Business Case</label>
      <div class="flex">
        <label class="flex items-center mr-4 text-gray-400">
          <input type="checkbox" class="mr-2" />
          Application Content
        </label>
        <label class="flex items-center mr-4 text-gray-400">
          <input type="checkbox" class="mr-2" />
          Scope/Vision/HLR
        </label>
      </div>
    </div>

    <!-- Second Div with Buttons -->
    <div class="flex flex-1 p-4 justify-end">
      <button
        class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 mr-2"
      >
        Get epic details
      </button>
      <button
        class="bg-red-500 text-white px-4 py-2 rounded-md hover:bg-green-600"
      >
        Clear epic details
      </button>
    </div>
  </div>

  <!-- div for 2 text boxes -->
  <div class="flex-1 flex p-4 overflow-y-auto">
    {{ macros.TextboxWithCp('Business Case', 'BusinessCase') }} 
    {{ macros.TextboxWithCp('Epic Abstract', 'EpicAbstract') }}
  </div>

  <!-- div for Botton -->
  <div class="sticky flex bottom-0 p-4 justify-end">
    <button
      class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 mr-2"
    >
      Get epic details
    </button>
  </div>
</div>
{% endblock %}
