/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
body {
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.tab-content.active {
  display: block;
  /* display: flex;         */
  /* flex-direction: column;  */
  /* height: 100vh;  */
}

.debug {
  border: 2px solid red;        /* Border color and width */
  /* padding: 16px;                Padding */
  background-color: rgb(20, 192, 106);  /* Background color */
  /* border-radius: 8px;           Rounded corners */
} 

/* Custom Tooltip Styles ===========================================================================================*/
.tooltip {
  position: relative;
  display: inline-block;
  
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  margin-left: -150px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;

  opacity: 0;
  transition: opacity 0.3s;
  font-size: 80%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
