{% macro TextboxWithCp(heading, inputId) %}
<div class="textarea-container flex flex-col flex-1 border-2 rounded-lg p-2 m-1">
    <div class="flex justify-between items-center mb-4 border-b-2">
        <label>{{ heading }} <span class="text-sm text-gray-400">*Ai generated</span></label>
        <button class="text-sm text-blue-500 px-2 py-1 rounded-lg" onclick="copyToClipboard('{{ inputId }}')">Copy</button>
    </div>
    <textarea
        id="{{ inputId }}"
        class="border-0 rounded-md p-2 flex-1"
        placeholder="Type your message here..."
        oninput="updateCharCount('{{ inputId }}', 'WordCount_{{ inputId }}')"
    ></textarea>
    
    <p class="text-right text-sm text-gray-600 mt-1">
        <span id="WordCount_{{ inputId }}" class="">0</span> / 5000 Characters
    </p>
</div>
{% endmacro %}